<!DOCTYPE html>
<html>
<head>
  <title>SVG Game</title>
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/bootstrap/css/bootstrap.css') }}">
	<link rel="stylesheet" type="text/css" media="all" href="{{ url_for('static', filename='css/playingCards.ui.css') }}"/>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.theme.min.css') }}" />
</head>
<body style="background: url('static/img/bg.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-xs-10">
        <h3 style="color:#FFFFFF"> SVG Card Game </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <div class="panel panel-default">
          <div class="panel-body" id="player1Card1" style="width: 30%; margin: 0 auto;" onclick="closeFace(document.getElementById('player1Card1'))">
            <button class="btn btn-default" style="color:#fff">Card 1</button> 
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="panel panel-default" >
          <div class="panel-body" id="player1Card2" style="width: 30%; margin: 0 auto;" onclick="closeFace(document.getElementById('player1Card2'))">
            <button class="btn btn-default" style="color:#fff">Card 2</button>
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="panel panel-default" >
          <div class="panel-body" id="player1Card3" style="width: 30%; margin: 0 auto;" onclick="closeFace(document.getElementById('player1Card3'))">
            <button class="btn btn-default" style="color:#fff">Card 3</button>
          </div>
        </div>
      </div>
    </div>
	<div class="row">
		<div class="col-xs-4">
			<div class="panel panel-default">
					<div class="panel-body">
						<input type="button" id="draw" style="background: url('static/img/facedowncard.jpg'); width: 76px; height: 100px"/>
						<div style="width: 25%; margin: 0 auto;" id="cardDeck"></div>
						
					</div>
			</div>
		</div>
		<div class="col-xs-4">
			<div class="panel panel-default">
				<div class="panel-body">
						<span style="color:#fff"> Drawn Card </span>
						<div style="width: 25%; margin: 0 auto;" id="yourHand" ></div>
				</div>
			</div>
		</div>
		<div class="col-xs-4">
			<div class="panel panel-default">
				<div class="panel-body" onclick="clientActions({'name':'swap', 'id':-1})">
						<span style="color:#fff"> Discarded Cards </span>
						<div style="width: 25%; margin: 0 auto;" id="discardedCards" ></div>
				</div>
			</div>
		</div>
	</div>
    <div class="row">
      <div class="col-xs-4">
        <div class="panel panel-default">
         <div class="panel-body" id="player2Card1" style="width: 30%; margin: 0 auto;" onclick="clientActions({'name':'swap', 'id':0})">
            <button class="btn btn-default" onclick="">Card 1</button>
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="panel panel-default">
          <div class="panel-body" id="player2Card2" style="width: 30%; margin: 0 auto;" onclick="clientActions({'name':'swap', 'id':1})">
            <button class="btn btn-default" onclick="">Card 2</button>
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="panel panel-default">
          <div class="panel-body" id="player2Card3" style="width: 30%; margin: 0 auto;" onclick="clientActions({'name':'swap', 'id':2})">
            <button class="btn btn-default" onclick="">Card 3</button>
          <!--<div class="panel-body" id="player2Card3" onclick="closeFace(document.getElementById('player2Card3'))">
            <button class="btn btn-default">Card 3</button>-->
          </div>
        </div>
      </div>
    </div>
    <div class="row">
	    <div class="col-xs-offset-5 col-xs-4">
    	  	<input type="button" id="draw" value="draw a card" />
			<input type="button" id="startGame" value="Start" />
		</div>
    </div>

    <div class="row">
      <div class="panel panel-default">
        <div id="feed" class="panel-body">
         <strong> Operations Feeds </strong>
        </div>
      </div>
    </div>

    </div>
</body>

<script src="{{ url_for('static', filename='lib/jQuery/jquery-2.1.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/jQueryUI/jquery-ui.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/playingCards.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/playingCards.ui.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/actions.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/logic.js') }}"></script>
<!-- <script type="text/javascript" src="static/js/cards.js"5</script> -->
</html>